@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>DUYURULAR</h2>

<table class="table table-bordered">
    <tr>
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>İçerik</th>
    </tr>

    @foreach (var prs in Model)
    {
        <tr>
            <td>@prs.ID</td>
            <td>@prs.KATEGORI</td>
            <td><a href="/Duyuru/DuyuruSil/@prs.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Duyuru/PersonelGetir/@prs.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Duyuru/PersonelDetay/@prs.ID" style="background-color:skyblue"   class="btn btn-success">Detaylar"</a></td>

        </tr>
    }
</table>

<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>
