@using MvcKutuphane.Models.Entity;
@model List<TBLKITAP>


@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YazarKitaplar</h2>
<br />

<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Kitap Adı</td>
        <td>Kategori</td>
        <td>Yayınevi</td>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
        <th>@x.ID</th>
        <th>@x.AD</th>
        <th>@x.TBLKATEGORI.AD</th>
        <th>@x.YAYINEVI</th>
        </tr>


    }
</table>

