@model MvcKutuphane.Models.Entity.TBLPERSONEL

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelEkle</h2>

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Personel Adı</label>
        @*<input type="text" class="form-control" name="Personel" />*@
        @Html.TextBoxFor(x=>x.PERSONEL, new {@class ="form-control" })

        @Html.ValidationMessageFor(x=>x.PERSONEL,"",new {@style = "color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Personel Ekle</button>

    </div>
</form>

